@import './basics.scss';

section.top {
  background: linear-gradient(to bottom, #E3EFFF, rgba(255, 255, 255, 0.0001) 10%);

  .header-text {
    font-family: Poppins, sans-serif;
    color: $purple;
    font-size: 42px;
    line-height: 60px;
  }
}

section.quote {
  text-align: center;
  background-color: $purple;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;

  > .content {
    display: flex;
    justify-content: space-between;
  }
}

section.how-it-is {
  > .content {
    .started {
      display: flex;
      margin-top: 48px;

      .wrap {
        padding-right: 12px;
        h2 {
          font-size: 32px;
          margin-top: 0;
          margin-bottom: 24px;
        }
      }

      img {
        padding-left: 12px;
      }
    }

    .going {
      display: flex;
      margin-top: 96px;

      img {
        padding-right: 12px;
        align-self: flex-start;
      }
      .wrap {
        padding-left: 12px;

        h2 {
          margin-top: 0;
          font-size: 32px
        }
      }
    }
  }
}

section.here-for-you {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(to top, #F4D2D1, rgba(171, 207, 255, 0.3) 55%, rgba(255, 255, 255, 0.0001));

  > .content {
    padding: 32px 96px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgb(0, 0, 0, .15);
    background-color: white;

    h2 {
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      font-weight: 400;
    }

    > p {
      font-weight: 600;
    }

    .wrap {
      display: flex;
      margin-bottom: 16px;

      p {
        &:first-of-type {
          padding-right: 8px;
        }

        &:last-of-type {
          padding-left: 8px;
        }
      }
    }

    .learn-more {
      text-align: center;
    }
  }
}

section.mission {
  background-color: $purple;
  color: white;
  padding-top: 72px;
  padding-bottom: 72px;

  > .content {

    .accent-box {
      margin-bottom: 24px;
    }

    .header-text {
      font-family: Poppins, sans-serif;
      font-size: 42px;
      line-height: 60px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 24px;
    }

    > p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

section.core {
  padding-top: 72px;
  padding-bottom: 72px;

  > .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-top: 0;
      margin-bottom: 8px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }

    .allan-and-grace {
      font-family: Raleway, sans-serif;
      font-weight: 600;
      font-size: 17.28px;
      line-height: 26px;
      margin: 0;
    }

    img {
      margin: 24px 0;
    }
  }
}