@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Poppins:wght@300;400;500&family=Raleway:wght@400;600&display=swap');

// font-family: 'Raleway', sans-serif;
// font-family: 'Courier Prime', monospace;
// font-family: 'Poppins', sans-serif;

$pink: #F4D2D1;
$blue: #B4C6DE;
$purple: #42406C;
$black-text: #2D2D2D;

html, body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
  font-family: 'Raleway', sans-serif;
  color: $black-text;
}


h1, h2, h3 {
  font-family: Poppins, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
}

button {
  background-color: $purple;
  border-radius: 49px;
  color: white;
  border: none;
  padding: 16px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.book-end {
  display: flex;
  height: 8px;

  div {
    &:nth-child(1) {
      background-color: $pink;
      flex: 1;
    }
  
    &:nth-child(2) {
      background-color: $blue;
      flex: 1;
    }
  
    &:nth-child(3) {
      background-color: $purple;
      flex: 1;
    }
  }
}

nav.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  
  .logo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 24px;
    color: $purple;
    position: relative;

    img {
      top: 5px;
      position: relative;
    }

    .nav-text {
      margin-left: 11.2px;
      font-weight: 500;
    }
  }
  
  .mobile-menu {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: $purple;

    .nav-text {
      margin-right: 8px;
      position: relative;
      top: -1px;
    }
  }
}

section {
  padding: 0 24px;
}

.accent-box, .accent-box h1 {
  background-color: $pink;
  color: $purple;
  padding: 8px 16px;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;

  &.centered {
    display: inline-block;
    margin: 0 auto;
  }
}

section.top {
  padding-top: 48px;
  background-image: linear-gradient(to bottom, #E3EFFF, transparent 14%);
  min-height: 100px;

  .header-text {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 300;

    span {
      color: $purple;
      font-weight: 500;
    }
  }

  nav.specialties {
    display: flex;

    div {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 600;
      margin-right: 24px;
    }
  }

  .branding {
    display: block;
  }

  .social-media {
    display: none;
  }

  .web {
    display: none;
  }
}

section.about-us {
  background-color: #B4C6DE;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 90%;
    height: 90%;
    text-align: center;
    background-color: white;
    border-radius: 12px; 
    margin: 48px 0;
    padding: 24px;

    box-shadow: 0 0 16px rgb(0, 0, 0, .15);
  }
}

section.services {
  text-align: center;

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .service {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px 0;
      font-size: 18px;
      font-weight: 600;

      img {
        margin-bottom: 16px;
      }
    }
  }
}

section.quote {
  background-color: $purple;
  color: white;
  position: relative;
  padding: 48px 24px 0;
  text-align: center;

  .quote-text {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 32px;
  }

  img {
    margin-top: 48px;
  }
}

section.say-hello {
  text-align: center;

  .content {
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 48px 0;
    }
  }
}

section.footer {
  .logo {

  }

  .contact {

  }

  .social {
    .group {
      display: flex;
      align-items: center;
    }
  }
}


/* ------- bootstrap-esque, socially acceptable inline padding & margins ------- */
.mt-0 { margin-top: 0 !important}
.mr-0 { margin-right: 0 !important}
.mb-0 { margin-bottom: 0 !important}
.ml-0 { margin-left: 0 !important}

@for $i from 1 through 100 {
	.mt-#{$i} { margin-top: #{$i}px !important; }
	.mr-#{$i} { margin-right: #{$i}px !important; }
	.mb-#{$i} { margin-bottom: #{$i}px !important; }
	.ml-#{$i} { margin-left: #{$i}px !important; }
}

.pt-0 { padding-top: 0 !important}
.pr-0 { padding-right: 0 !important}
.pb-0 { padding-bottom: 0 !important}
.pl-0 { padding-left: 0 !important}

@for $i from 1 through 100 {
	.pt-#{$i} { padding-top: #{$i}px !important; }
	.pr-#{$i} { padding-right: #{$i}px !important; }
	.pb-#{$i} { padding-bottom: #{$i}px !important; }
	.pl-#{$i} { padding-left: #{$i}px !important; }
  .pa-#{$i} { padding: #{$i}px !important; }
}

.text-center {
  text-align: center;
}