@import './basics.scss';

section.top {
  padding-bottom: 24px;

  background:
    linear-gradient(to bottom, #E3EFFF, rgba(255, 255, 255, 0.0001) 5%), 
    url(../assets/hillsSolid.svg) 64.2% 100% / 2900px no-repeat;    

  > .content {
    min-height: 100px;

    .headers {
      margin-bottom: 24px;

      .header-text {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        line-height: 35px;
        font-weight: 300;
    
        span {
          color: $purple;
          font-weight: 500;
        }
      }

    }
    
    .spacer {
      margin-top: 48px;
    }

    nav.specialties {
      display: flex;

      > div {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        padding-right: 24px;
        user-select: none;

        &.active {
          font-weight: 600;
          color: $purple;

          .underline {
            height: 4px;
            background-color: $purple;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .descriptions {

      .col:first-of-type {
        margin-bottom: 48px;
      }

      .col:last-of-type {
        text-align: center;

        img {
          display: none;

          &.active {
            display: inline;
          }
        }
      }

      p {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

section.about-us {
  background-color: #B4C6DE;
  display: flex;
  justify-content: center;
  align-items: center;

  > .content {
    width: 90%;
    height: 90%;
    text-align: center;
    background-color: white;
    border-radius: 12px; 
    padding: 32px 24px;

    box-shadow: 0 0 16px rgb(0, 0, 0, .15);

    h2 {
      margin-top: 0;
      margin-bottom: 16px;
    }

    p {
      margin: 16px 0;
    }
  }
}

section.services {
  text-align: center;
  padding: 48px 24px;

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -16px;

    .service {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px 0;
      font-size: 18px;
      font-weight: 600;

      img {
        margin-bottom: 16px;
      }
    }
  }
}

section.quote {
  background-color: $purple;
  color: white;
  position: relative;
  padding: 48px 24px 0;
  text-align: center;
  overflow: hidden;

  > .content {
    .col:first-of-type {
      .accent-box {
        margin-top: 24px;
      }
    }

    img {
      transform: translateZ(0);
    }
  }

  .quote-text {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 32px;
  }

  img {
    margin-top: 36px;
    position: relative;
    top: 12px;
    max-width: 90%;
  }
}

section.say-hello {
  text-align: center;
  background-image: linear-gradient(to bottom, #E3EFFF, rgba(255,255,255,0.0001) 13%);

  > .content {
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .col:first-of-type {
      margin-bottom: 48px;
    }

    button {
      margin-top: 8px;
    }
  }
}


/* ------ RESPONSIVE ------ */
/* ------ RESPONSIVE ------ */
/* ------ RESPONSIVE ------ */

@media (min-width: 768px) {
  nav.main-nav > .content {
    
    .left-wrap {
      .widget, .divider, img.time-of-day {
        display: block;
      }
    }
  }

  section.top {
    padding-top: 64px;
    padding-bottom: 48px;

    background: 
      linear-gradient(to bottom, #E3EFFF, rgba(255, 255, 255, 0.0001) 10%), 
      url(../assets/hillsSolid.svg) 65.6% 100% no-repeat;

    > .content {
      .headers {
        text-align: center;

        .header-text {
          font-size: 35px;
          line-height: 52px;
        }
      }

      .accent-box {
        justify-content: center;
      }

      .spacer {
        margin-top: 72px;
      }

      h2 {
        text-align: center;
      }

      .descriptions {
        padding: 0 24px;
      }

      nav.specialties {
        justify-content: center;
  
        div {
          font-family: Poppins, sans-serif;
          font-size: 16px;
        }
      }
    }
  }

  section.services {
    > .content {
      .icons {
        .service {
          width: 33.3%;
        }
      }
    }
  }

  section.say-hello {
    padding: 72px 48px;  
  }
}

@media (min-width: 990px) {

  h2 {
    font-size: 32px;
    font-weight: 400;
  }

  nav.main-nav > .content {
    padding: 12px 0;

    .mobile-menu {
      display: none;
    }

    .desktop-menu {
      display: block;
    }
  }

  section.top {
    padding-top: 96px;
    padding-bottom: 24px;
    background:
      linear-gradient(to bottom, #E3EFFF, rgba(255,255,255,0.0001) 10%),
      url(../assets/hillsSolid.svg) 61.9% 118.9% no-repeat;

    > .content {
      .headers {

        .header-text {
          font-size: 42px;
          line-height: 60px;
        }
      }

      .spacer {
        margin-top: 96px;
      }

      h2 {
        text-align: left;
      }

      nav.specialties {
        justify-content: flex-start;
      }

      .descriptions  {
        display: flex;
        padding: 0;

        .col {
          flex: 1;
        }

        .col:first-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  section.about-us {
    padding: 72px 24px;

    > .content {
      padding: 32px 160px;
    }
  } 
  
  section.services {
    padding: 72px 24px;
  }

  section.quote {
    display: flex;
    padding: 0 24px;
    height: 330px;
    overflow: visible;

    > .content {
      display: flex;
      align-items: center;

      .col:first-of-type {
        position: relative;
        
        .quote-text {
          font-size: 42px;
          line-height: 60px;
          text-align: left;
        }

        .accent-box {
          justify-content: flex-start;
          margin-top: 34px;
        }
      }

      .col:last-of-type {
        img {
          top: -4px;
          width: 296px;
          max-width: none;
        }
      }
    }
  }

  section.say-hello {
    > .content {
    display: flex;

      .col {
        &:first-of-type {
          margin-right: 24px;
          margin-bottom: 0;
        }
        &:last-of-type {
          margin-left: 24px;
        }
      }
    }
  }
}

// iPhone SE & super small
@media (max-width: 335px) {
  section.top > .content {
    nav.specialties > div {
      font-size: 15px;
      padding-right: 20px;
    }
  }
}

