@import './basics.scss';
@import './secondaries.scss';

section.services {
    > .content {

        h2 {
            text-align: center;
            margin-bottom: 8px;
            margin-top: 0;
        }

        h3 {
            margin-top: 0;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            font-weight: 400;
        }

        .wrap {
            display: flex;
            flex-direction: column;
            margin-top: 48px;

            .service {
                display: flex;
                margin-bottom: 48px;

                .gutter {
                    flex: 1;

                    img {
                        position: relative;
                        top: 4px;
                    }
                }

                .content {
                    flex: 6;
                    margin-top: 0;

                    img {
                        position: relative;
                        top: 4px;
                        margin-right: 8px;
                    }

                    a span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

section.get-started {
    padding: 0 24px 48px;
    background-image: linear-gradient(to top, #F4D2D1, rgba(171, 207, 255, 0.3) 55%, rgba(255, 255, 255, 0.0001));

    > .content {
        padding: 32px 24px;
        border-radius: 12px;
        box-shadow: 0 0 16px rgb(0, 0, 0, .15);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-top: 0;
            margin-bottom: 24px;
        }

        button {
            width: 456px;
            max-width: 100%;

            &.invert {
                background-color: white;
                color: $purple;
                border: 2px solid $purple;
            }

            &:first-of-type {
                margin-bottom: 24px;
            }
        }
    }
}


@media (min-width: 768px) {
    section.services {
        > .content {
            .wrap {
                flex-direction: row;
                flex-wrap: wrap;
                .service {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 990px) {

}