@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

section {
  padding: 100px 0;
}

img {
  max-width: 100%;
  image-rendering: pixelated;
}

// .top-border {
//   display: flex;
//   height: 10px;

//   [class^=third] {
//     flex: 1;
//   }
//   .third-1 {
//     background-color: #b4c6de;
//   }
//   .third-2 {
//     background-color: #42406c;
//   }
//   .third-3 {
//     background-color: #f4d2d1;
//   }
// }

.banner {
  background-color: #e3efff;
  background: linear-gradient(350deg, #e3efff, #e3efff00);
  // background: linear-gradient(45deg, #e3efff, transparent);

  // background: linear-gradient(350deg, #76b0ff, #e3efff00);
  .head {
    font-size: 5rem;
    font-family: 'Raleway Dots', cursive;
    line-height: 1;
    text-transform: uppercase;
    // transition: font-size 0.2s;
    text-shadow: 5px 3px darkgrey;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
    position: relative;
    left: 2px;
    // transition: font-size 0.2s;
  }

  .grow-your-business {
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    // transition: font-size 0.2s;
  }
}

.previous-clients {
  .flex-images {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;

    > div {
      flex-basis: 25%;
      text-align: center;
    }
  }
}

    // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 576px) {

  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {

  }

  // Large devices (desktops, 992px and up)
  @media (max-width: 992px) {


    .mountain {
      max-width: 65%;
      text-align: center;
      margin-top: 50px;
    }


  }

  // Extra large devices (large desktops, 1200px and up)
  @media (max-width: 1200px) {
    @at-root html {
      font-size: 85%;
    }
  }

  @media (min-width: 1201px) {

  }
