@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 60%;
}

/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
/* ------ GENERAL ------ */

.head-bar {
  margin-bottom: 12px;
  background-color: #f2f2f2;
  background: linear-gradient(90deg,#f2f2f2, white);
  box-shadow: -3px 3px white;
  font-size: 5rem;
  text-align: center;
  font-family: "Poppins", cursive;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
  padding-right: 10px;
}

blockquote {
  font-family: 'Cormorant Upright', sans-serif;
  font-size: 3rem;
  font-style: italic;
  letter-spacing: -1.5px;
  font-weight: lighter;
  margin: 0;
  padding: 0 15px;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;  // improves render for mac Chrome
}



/* ------ SECTIONS ------ */
/* ------ SECTIONS ------ */
/* ------ SECTIONS ------ */

body {
  .top-deco {
    display: flex;
    height: 10px;

    [class^=third] {
      flex: 1;
    }
    .third-1 {
      background-color: #b4c6de;
    }
    .third-2 {
      background-color: #42406c;
    }
    .third-3 {
      background-color: #f4d2d1;
    }
   }

  section.banner {
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
    margin-top: 0;
    padding: 20px 0 60px 0;

    .head {
      font-size: 5rem;
      font-family: 'Raleway Dots', cursive;
      font-family: 'Montserrat', cursive;
      font-family: 'Poppins', cursive;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 5px 3px darkgrey;

      .head-bar {
        display: inline-block;
        margin-bottom: 12px;
        box-shadow: -3px 3px white;
      }
    }

    h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      font-size: 1.8rem;
      position: relative;
      left: 2px;
      text-shadow: 1px 1px white;
      // transition: font-size 0.2s;
    }

    .grow-your-business {
      margin-top: 25px;
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem;
      margin-bottom: 40px;
      text-shadow: 1px 1px white;
      // transition: font-size 0.2s;
    }

    .mountain {
      max-width: 250px;
    }
  }

  section.quote {
    padding: 100px 0;
    background-image: url('../img/audience_1920.jpg');
    text-align: center;

    div.line {
      display: block;
      margin-bottom: 15px;

      span {
        display: inline-block;
        font-size: 2.1rem;
        background-color: white;
        font-style: italic;
        padding: 0 5px;
        font-family: 'Raleway', sans-serif;
        color: black;
        text-shadow: 1px 1px #ffc9fb;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  section.pacific-pace {
    padding: 60px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);

    .head-bar {
      text-align: left;
      font-size: 4.5rem;
      display: inline-block;
    }

    .international-picture {
      width: 75%;
      margin: 35px auto;
      image-rendering: -webkit-optimize-contrast;  // improves render for mac Chrome
    }

    p, ul {
      text-shadow: 1px 1px white;
    }

    .pacific-pace-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .suggested-industries {
        display: inline-block;
        margin: 20px auto 0 auto;
      }
    }
  }

  section.services-offered {
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/patterns/dot-grid.png');

    padding: 20px 0;

    .top-h2 {
      margin-top: 10px;
    }

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin: 20px 0;
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 16px;
    }

    hr.little-hr {
      display: none;
    }
  }

  section.cta {
    padding: 20px 0 40px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
    text-shadow: 1px 1px white;

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin: 20px 0;

      &.h2-top {
        margin-top: 10px;
      }
    }

    .buttons-row {
      margin: 20px 0;
      display: flex;
      justify-content: space-evenly;

      button {
        // background-color: white;
        background-color: #42406c;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        min-width: 125px;
        font-weight: bold;
        // font-size: 14px;
      }
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 16px;
    }
  }

  .footer {
    img {
      max-width: 100%;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    section.services-offered {
      .service {
        padding: 0 25px;

        p {
          height: 210px;
          font-size: 1.2rem;
          text-align: center;


          &:last-of-type {
            margin-top: 50px;
          }
        }

        .top-h2 {
          margin-top: 20px;
        }

        h2 {
          font-size: 2rem;
        }

        hr.little-hr {
          display: block;
          width: 35%;
        }
      }
    }

    section.pacific-pace .pacific-pace-right {
      align-items: flex-start;
    }
  }

  @at-root html {
    font-size: 85%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {

    section.banner {
      padding: 100px 0;

      .grow-your-business {
        margin-top: 35px;
      }

      .mountain {
        max-width: 75%;
        text-align: center;
        // margin-top: 35px;
      }
    }

    section.services-offered {
      .service {
        p {
          height: 160px;
        }
      }
    }

    section.quote {
      padding: 150px 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @at-root html {
    font-size: 100%;
  }

    body {
    section.banner {
      h1 {
        font-size: 1.3rem;
        margin-top: 5px !important;
      }

      ul {
        font-size: 1.3rem;
      }
    }

    section.quote {

      div.line {
        span {
          font-size: 4rem;
          padding-right: 30px;
        }
      }
    }
  }
}

@media (min-width: 1201px) {
}
