@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400&display=swap");
html {
  font-family: "Raleway", sans-serif;
  font-size: 60%;
}

/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
.head-bar {
  margin-bottom: 12px;
  background-color: #f2f2f2;
  background: linear-gradient(90deg, #f2f2f2, white);
  box-shadow: -3px 3px white;
  font-size: 5rem;
  text-align: center;
  font-family: "Poppins", cursive;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
  padding-right: 10px;
}

blockquote {
  font-family: "Cormorant Upright", sans-serif;
  font-size: 3rem;
  font-style: italic;
  letter-spacing: -1.5px;
  font-weight: lighter;
  margin: 0;
  padding: 0 15px;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

/* ------ SECTIONS ------ */
/* ------ SECTIONS ------ */
/* ------ SECTIONS ------ */
body .vertical-bookends {
  display: flex;
  height: 10px;
}
body .vertical-bookends [class^=third] {
  flex: 1;
}
body .vertical-bookends .third-1 {
  background-color: #b4c6de;
}
body .vertical-bookends .third-2 {
  background-color: #42406c;
}
body .vertical-bookends .third-3 {
  background-color: #f4d2d1;
}
body section.banner {
  background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
  margin-top: 0;
  padding: 20px 0 60px 0;
}
body section.banner .head {
  font-size: 5rem;
  font-family: "Raleway Dots", cursive;
  font-family: "Montserrat", cursive;
  font-family: "Poppins", cursive;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
}
body section.banner .head .head-bar {
  display: inline-block;
  margin-bottom: 12px;
  box-shadow: -3px 3px white;
}
body section.banner h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  position: relative;
  left: 2px;
  text-shadow: 1px 1px white;
}
body section.banner .grow-your-business {
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px white;
}
body section.banner .mountain {
  max-width: 250px;
}
body section.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 680px;
  background-image: url("../img/children_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  text-align: center;
}
body section.quote div.line {
  display: block;
  margin-bottom: 15px;
}
body section.quote div.line span {
  display: inline-block;
  font-size: 2.6rem;
  background-color: white;
  font-style: italic;
  padding: 0 5px;
  font-family: "Raleway", sans-serif;
  color: black;
  text-shadow: 1px 1px #ffc9fb;
}
body section.quote div.line:last-of-type {
  margin-bottom: 0;
}
body section.pacific-pace {
  padding: 60px 0 35px 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
}
body section.pacific-pace .head-bar {
  text-align: left;
  font-size: 4.5rem;
  display: inline-block;
}
body section.pacific-pace .international-picture {
  width: 75%;
  margin: 35px auto;
  image-rendering: -webkit-optimize-contrast;
}
body section.pacific-pace p, body section.pacific-pace ul {
  text-shadow: 1px 1px white;
}
body section.pacific-pace .pacific-pace-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body section.pacific-pace .pacific-pace-right .suggested-industries {
  display: inline-block;
  margin: 20px auto 0 auto;
}
body section.services-offered {
  font-family: "Raleway", sans-serif;
  background-image: url("../img/patterns/dot-grid.png");
  padding: 20px 0;
}
body section.services-offered .top-h2 {
  margin-top: 10px;
}
body section.services-offered h2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 40px 0 20px 0;
}
body section.services-offered p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body section.services-offered hr.little-hr {
  display: none;
}
body section.services-offered hr.littler-hr {
  width: 15%;
  height: 2px;
  margin-top: 22px;
  margin-bottom: 19px;
  border-width: 2px;
  border-color: #7bb3ff;
}
body section.cta {
  padding: 20px 0 40px 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
  text-shadow: 1px 1px white;
  text-align: center;
}
body section.cta h2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 20px 0;
}
body section.cta h2.h2-top {
  margin-top: 10px;
}
body section.cta .buttons-row {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
body section.cta .buttons-row button {
  background-color: #42406c;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}
body section.cta p {
  font-size: 1.8rem;
  margin-bottom: 16px;
}
body .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/wet_fall_asphalt.jpg") center/530px;
  height: 320px;
  image-rendering: -webkit-optimize-contrast;
}
body .footer span {
  color: white;
  font-size: 10rem;
  font-family: "Raleway", cursive;
  text-shadow: 3px 3px black;
}

@media (min-width: 768px) {
  body section.services-offered .service {
    padding: 0 25px;
  }
  body section.services-offered .service p {
    height: 210px;
    font-size: 1.2rem;
    text-align: center;
  }
  body section.services-offered .service p:last-of-type {
    margin-top: 50px;
  }
  body section.services-offered .service .top-h2 {
    margin-top: 20px;
  }
  body section.services-offered .service h2 {
    font-size: 2rem;
  }
  body section.services-offered .service hr.little-hr {
    display: block;
    width: 35%;
  }
  body section.pacific-pace .pacific-pace-right {
    align-items: flex-start;
  }

  html {
    font-size: 85%;
  }
}
@media (min-width: 992px) {
  body section.banner {
    padding: 100px 0;
  }
  body section.banner .grow-your-business {
    margin-top: 35px;
  }
  body section.banner .mountain {
    max-width: 75%;
    text-align: center;
  }
  body section.services-offered .service p {
    height: 160px;
  }
  body section.quote {
    padding: 150px 0;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }

  body section.banner h1 {
    font-size: 1.3rem;
    margin-top: 5px !important;
  }
  body section.banner ul {
    font-size: 1.3rem;
  }
  body section.quote div.line span {
    font-size: 4rem;
    padding-right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
