@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=block');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=block');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 60%;
}

body {
  &.mobile-menu-open {
    overflow: hidden;
  }

  &.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}

/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
/* ------ GENERAL ------ */

.shadow-caps {
  margin-bottom: 12px;
  background-color: #f2f2f2;
  background: linear-gradient(90deg,#f2f2f2, white);
  box-shadow: -3px 3px white;
  font-size: 5rem;
  text-align: center;
  font-family: "Poppins", cursive;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
  padding-right: 10px;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;  // improves render for mac Chrome
}

.no-wrap {
  white-space: nowrap;
}

body {
  .vertical-bookends {
    display: flex;
    height: 10px;

    [class^=third] {
      flex: 1;
    }
    .third-1 {
      background-color: #f4d2d1;
    }
    .third-2 {
      background-color: #b4c6de;
    }
    .third-3 {
      background-color: #42406c;
    }
   }

  /* ------ MOBILE ------ */
  /* ------ MOBILE ------ */
  /* ------ MOBILE ------ */

  #menu-toggle {
    position: absolute;
    visibility: hidden;
    z-index: 10;

    &:checked + nav.mobile-menu {
      transform: translate(0, 0);
    }
  }

  nav.mobile-menu {
    width: 100%;
    height: 100vh;
    transform: translate(100%, 0);
    background-color: #42406c;
    color: white;
    transition: transform 0.2s;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Raleway', cursive;

    div {
      padding: 30px 0;
      position: relative;
      top: -50px;
    }
  }

  nav.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-height: 50px;
    background-color: #e3efff;
    color: #42406c;

    background: rgb(227, 239, 252); /* Fallback for older browsers without RGBA-support */
    background: rgba(227, 239, 252, 0.6);
    z-index: 3;


    padding: 0 15px;
    font-size: 26px;
    transition: background-color 0.2s;

    display: flex;
    align-items: center;


    .wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      transition: fill 0.2s;
      fill: #42406c;
      position: relative;
    }

    label[for='menu-toggle'] {
      margin-bottom: 0;
    }

    .fa-bars {
      transition: color 0.2s;
      width: 30px;
    }

    &.stuck {
      background: rgba(227, 239, 252, 0.95);
    }

    .desktop-links {
      display: none;
      font-size: 2rem;
    }

    @at-root body.mobile-menu-open nav.sticky {
      background-color: #42406c;
      transition: background-color 0.2s;
      .fa-bars {
        color: white;
      }

      .logo {
        fill: white;
      }
    }
  }

  .cta {
    background-color: #ff4343;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    display: inline-block;
    z-index: 1;
    transition: transform 0.3s;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
  }

  @keyframes from-right {
    0% {
      transform: translate(100%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes from-left {
    0% {
      transform: translate(-100%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /* ------ SECTIONS ------ */
  /* ------ SECTIONS ------ */
  /* ------ SECTIONS ------ */

  .intro {
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
    margin-top: 0;
    padding: 20px 0 60px 0;
    position: relative;

    .cta-top {
      border-radius: 15px 0 0 15px;
      padding: 10px 10px 10px 15px;
      font-size: 2rem;
      right: 0;
      top: 75px;
      position: fixed;

      transform: translate(105%, 0);

      &.at-top {
        transform: translate(0, 0);
      }
    }

    .head {
      font-size: 5rem;
      font-family: 'Poppins', cursive;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 5px 3px darkgrey;

      .shadow-caps {
        display: inline-block;
        margin-bottom: 12px;
        box-shadow: -3px 3px white;
      }
    }

    h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      font-size: 1.8rem;
      position: relative;
      left: 2px;
      text-shadow: 1px 1px white;
      // transition: font-size 0.2s;
    }

    .grow-your-business {
      margin-top: 25px;
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem;
      margin-bottom: 40px;
      text-shadow: 1px 1px white;
      // transition: font-size 0.2s;
    }

    .mountain {
      max-width: 250px;
    }
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 680px;

    background-image: url('../img/children_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;

    text-align: center;

    div.line {
      display: block;
      margin-bottom: 15px;

      span {
        display: inline-block;
        font-size: 2.6rem;
        background-color: white;
        font-style: italic;
        padding: 0 5px;
        font-family: 'Raleway', sans-serif;
        color: black;
        text-shadow: 1px 1px #ffc9fb;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .pacific-pace {
    padding: 60px 0 35px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);

    .shadow-caps {
      text-align: left;
      font-size: 4.5rem;
      display: inline-block;
    }

    .international-picture {
      width: 75%;
      margin: 30px auto 35px auto;
      image-rendering: -webkit-optimize-contrast;  // improves render for mac Chrome
    }

    p {
      text-shadow: 1px 1px white;
      text-align: center;
      width: 80%;
    }

    ul {
      text-shadow: 1px 1px white;
    }

    .pacific-pace-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .suggested-industries {
        display: inline-block;
        margin: 20px auto 0 auto;
      }
    }
  }

  .services-offered {
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/patterns/dot-grid.png');
    padding: 20px 0;
    text-align: center;

    h2 {
      font-size: 2.4rem;
      margin: 40px 0 20px 0;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.6;
      margin-bottom: 16px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    hr.little-hr {
      display: none;
    }

    hr.littler-hr {
      width: 15%;
      height: 2px;
      margin-top: 22px;
      margin-bottom: 19px;
      border-width: 2px;
      border-color: #7bb3ff;
    }
  }

  .say-hello {
    padding: 20px 0 80px 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
    text-shadow: 1px 1px white;
    text-align: center;
    font-size: 1.8rem;


    .head {
      margin-top: 20px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;

      .top, .bottom {
        height: 30px;

        display: none;
      }

      h2 {
        font-size: 2.4rem;
        margin: 15px 0;
        text-decoration: underline;
      }

      .bottom {
        transform: rotateX(180deg);
      }

    }

    .contact-item {
      .fa {
        display: none;
        color: #42406c;
      }

      p {
        width: 80%;
        margin: 0 auto 24px auto;
      }

      &:not(:first-of-type) p {
        margin-top: 50px;
      }

      button {
        background-color: #42406c;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        border-radius: 10px;
        font-size: 16px;;
        width: 90%;
        font-weight: bold;
        cursor: pointer;
        max-width: 250px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: linear-gradient(0deg, transparent, black), url("../img/wet_fall_asphalt.jpg") center/cover;
    height: 330px;
    image-rendering: -webkit-optimize-contrast;

    img.logo {
      width: 40px;
      filter: drop-shadow(2px 2px 2px black);
    };

    .broken-out-services {
      color: white;
      position: absolute;
      top: 15px;
      right: 15px;
      text-shadow: 1px 1px 1px black;
      text-align: right;
    }

    .cta-bottom {
      position: fixed;
      left: 0;
      font-size: 2rem;

      border-radius: 0 15px 15px 0;
      padding: 10px 15px 10px 10px;
      bottom: 25px;

      transform: translate(-105%, 0);

      &.at-bottom {
        transform: translate(0, 0);
      }

      &.first-at-bottom {
        animation: from-left 0.5s;
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 500px) {
  body {
    .intro {
      .contents-wrap {
        width: 75%;
        margin: 0 auto;

        .head {
          text-align: center;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  @at-root html {
    font-size: 70%;
  }

  body {

    nav.sticky {
      height: 60px;

      .logo {
        height: 30px;
      }

      .fa-bars {
        font-size: 30px;
      }
    }

    .intro {
      padding: 50px 0 100px 0;

      .cta-top {
        top: 95px;
        font-size: 1.8rem;
      }

      h1 {
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-top: 44px !important;
        text-align: center;
      }

      .grow-your-business {
        font-size: 1.5rem;
        margin-top: 15px;

        ul {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

      }
      img {
        margin-top: 22px;
      }
    }

    .quote {
      height: 880px;
    }

    .pacific-pace {
      padding-top: 90px;
      padding-bottom: 90px;

      .international-picture {
        width: 85%;
      }

      .pacific-pace-right {
        align-items: flex-start;
        margin-top: 40px;

        p {
          text-align: left;
          margin-left: 20px;
          margin-top: 20px;
        }
      }
    }

    .services-offered {
      padding: 50px 0 92px 0;

      .service {
        padding: 0 25px;

        &.web {
          margin-top: 40px;
        }

        &:last-of-type {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
        }

        p {
          font-size: 1.2rem;
          text-align: center;

          &:last-of-type {
            margin-top: 50px;
          }
        }

        h2 {
          font-size: 2rem;
        }
      }
    }

    .say-hello {
      padding: 100px 0 115px 0;

      .head {
        margin-top: 0;
        margin-bottom: 70px;

        .top, .bottom {
          display: block;
          height: 50px;
        }

        h2 {
          margin: 20px 0;
          text-decoration: none;
        }

        .bottom {
          transform: rotateX(180deg);
        }
      }

      .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: 0 0 24px 0 !important;
          font-size: 1.2rem;
          height: 130px;
        }

        .fa {
          display: block;

          margin-bottom: 30px;
        }
      }
    }

    .footer {
      height: 800px;

      .broken-out-services {
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
        text-shadow: 1px 1px 1px black;
        text-align: right;
        font-size: 2rem;
      }

      img.logo {
        width: 60px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @at-root html {
    font-size: 85%;
  }

  body {
    nav.sticky {
      .wrap {
        max-width: 1140px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
      }

      label[for='menu-toggle'] {
        display: none;
      }

      .desktop-links {
        display: flex;
        align-items: center;

        font-size: 1.4rem;
        > div {
          margin-left: 50px;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .cta {
          box-shadow: none;
          border-radius: 10px;
          padding: 3px 20px;
        }
      }
    }
    .intro {
      .contents-wrap {
        width: auto;

        h1 {
          width: auto;
          font-size: 1.2rem;
          margin-top: 20px !important;
        }

        .grow-your-business {
          margin-left: 0;
          margin-right: 0;

          ul {
            font-size: 1.2rem;
          }
        }

        .cta {
          display: none;
        }

        .head {
          .shadow-caps {
            font-size: 4rem;
            margin-bottom: 0;
          }
        }
      }

      .mountain {
        max-width: 350px;
      }
    }

    .quote {


    }

    .services-offered {
      .service {
        p {

        }
      }
    }

    .footer {
      .cta {
        display: none;
      }
    }

  }
}

@media (min-width: 1200px) {

  body {
    .intro {
      .contents-wrap {
        h1 {
          text-align: left;
        }

        .head {
          text-align: left;
        }

        .grow-your-business {
          ul {
            width: auto;
          }
        }
      }
    }

    .quote {
      flex-direction: row;
      align-items: center;
      justify-content: center;

      background-image: url('../img/children_1920.jpg');
      background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.523)), url('../img/children_1920.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      image-rendering: -webkit-optimize-contrast;

      .top {
        display: flex;

        .line:first-of-type {
          margin-bottom: 33px;
        }
      }

      span {
        font-size: 2.8rem !important;
      }
    }
  }
}

// @media (min-width: 1200px) {
//   @at-root html {
//     font-size: 100%;
//   }

//     body {
//     section.banner {
//       h1 {
//         font-size: 1.3rem;
//         margin-top: 5px !important;
//       }

//       ul {
//         font-size: 1.3rem;
//       }
//     }

//     section.quote {

//       div.line {
//         span {
//           font-size: 4rem;
//           padding-right: 30px;
//         }
//       }
//     }
//   }
// }

// @media (min-width: 1201px) {
// }
