@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}

body {
  .head-bar {
    margin-bottom: 12px;
    background-color: #f2f2f2;
    background: linear-gradient(90deg,#f2f2f2, white);
    box-shadow: -3px 3px white;
    font-size: 5rem;
    text-align: center;
    font-family: "Poppins", cursive;
    text-transform: uppercase;
    text-shadow: 5px 3px darkgrey;
  }
}

section {
  padding: 100px 0;
}

blockquote {
  padding: 50px;
  margin-bottom: 100px;
  font-family: 'Cormorant Upright', sans-serif;
  font-size: 3rem;
  font-style: italic;
  letter-spacing: -1.5px;
  font-weight: lighter;
}

img {
  max-width: 100%;
  image-rendering: pixelated;
}

.top-border {
  display: flex;
  height: 10px;

  [class^=third] {
    flex: 1;
  }
  .third-1 {
    background-color: #b4c6de;
  }
  .third-2 {
    background-color: #42406c;
  }
  .third-3 {
    background-color: #f4d2d1;
  }
}

.banner {
  background: linear-gradient(17deg, #e3efff, #abcfff, #e3efff);

  .head {
    font-size: 5rem;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Montserrat', cursive;
    font-family: 'Poppins', cursive;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 5px 3px darkgrey;

    .head-bar {
      display: inline-block;
      margin-bottom: 12px;
      // padding-left: 100px;
      padding-right: 10px;
      // transform: translate(-100px, 0);
      box-shadow: -3px 3px white;
    }
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
    position: relative;
    left: 2px;
    text-shadow: 1px 1px white;
    // transition: font-size 0.2s;
  }

  .grow-your-business {
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
    // transition: font-size 0.2s;
  }
}

.previous-clients {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;

  .head-bar {
    text-align: center;
    background: none;
    background-color: #f2f2f2;
    margin-bottom: 150px !important;
  }

  .flex-images {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;

    > div {
      flex-basis: 25%;
      text-align: center;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .banner {
    background: #e3efff;
    padding-top: 25px;
    padding-bottom: 55px;
    overflow-x: hidden;

    .grow-your-business {
      margin-top: 35px;
    }
  }

  .mountain {
    max-width: 65%;
    text-align: center;
    margin-top: 35px;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  @at-root html {
    font-size: 85%;
  }
}

@media (min-width: 1201px) {

}
