@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400&display=swap");
html {
  font-family: "Raleway", sans-serif;
  font-size: 60%;
}

/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
.head-bar {
  margin-bottom: 12px;
  background-color: #f2f2f2;
  background: linear-gradient(90deg, #f2f2f2, white);
  box-shadow: -3px 3px white;
  font-size: 5rem;
  text-align: center;
  font-family: "Poppins", cursive;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
  padding-right: 10px;
}

section {
  margin: 50px 0;
}

blockquote {
  font-family: "Cormorant Upright", sans-serif;
  font-size: 3rem;
  font-style: italic;
  letter-spacing: -1.5px;
  font-weight: lighter;
  margin: 0;
}

img {
  max-width: 100%;
  image-rendering: pixelated;
}

/* ------ SECTIONS ------ */
/* ------ SECTIONS ------ */
/* ------ SECTIONS ------ */
body .top-deco {
  display: flex;
  height: 10px;
}
body .top-deco [class^=third] {
  flex: 1;
}
body .top-deco .third-1 {
  background-color: #b4c6de;
}
body .top-deco .third-2 {
  background-color: #42406c;
}
body .top-deco .third-3 {
  background-color: #f4d2d1;
}
body section.banner {
  background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 70px;
}
body section.banner .head {
  font-size: 5rem;
  font-family: "Raleway Dots", cursive;
  font-family: "Montserrat", cursive;
  font-family: "Poppins", cursive;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
}
body section.banner .head .head-bar {
  display: inline-block;
  margin-bottom: 12px;
  box-shadow: -3px 3px white;
}
body section.banner h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  position: relative;
  left: 2px;
  text-shadow: 1px 1px white;
}
body section.banner .grow-your-business {
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px white;
}
body section.previous-clients {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
}
body section.previous-clients .head-bar {
  text-align: left;
  background: none;
  background-color: #f2f2f2;
  font-size: 4rem;
  display: inline-block;
}
body section.previous-clients .international-picture {
  width: 75%;
  margin: 50px auto;
}

@media (min-width: 768px) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 992px) {
  .banner {
    background: #e3efff;
    padding-top: 25px;
    padding-bottom: 55px;
    overflow-x: hidden;
  }
  .banner .grow-your-business {
    margin-top: 35px;
  }

  .mountain {
    max-width: 65%;
    text-align: center;
    margin-top: 35px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
