@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 60%;
}

body {
  &.mobile-menu-open {
    overflow: hidden;
  }
}

/* ------ GENERAL ------ */
/* ------ GENERAL ------ */
/* ------ GENERAL ------ */

.shadow-caps {
  margin-bottom: 12px;
  background-color: #f2f2f2;
  background: linear-gradient(90deg,#f2f2f2, white);
  box-shadow: -3px 3px white;
  font-size: 5rem;
  text-align: center;
  font-family: "Poppins", cursive;
  text-transform: uppercase;
  text-shadow: 5px 3px darkgrey;
  padding-right: 10px;

}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;  // improves render for mac Chrome
}

.no-wrap {
  white-space: nowrap;
}

body {
  .vertical-bookends {
    display: flex;
    height: 10px;

    [class^=third] {
      flex: 1;
    }
    .third-1 {
      background-color: #f4d2d1;
    }
    .third-2 {
      background-color: #b4c6de;
    }
    .third-3 {
      background-color: #42406c;
    }
   }

  /* ------ MOBILE ------ */
  /* ------ MOBILE ------ */
  /* ------ MOBILE ------ */

  #menu-toggle {
    position: absolute;
    visibility: hidden;
    z-index: 10;

    &:checked + nav.mobile-menu {
      transform: translate(0, 0);
    }
  }

  nav.mobile-menu {
    width: 100%;
    height: 100vh;
    transform: translate(100%, 0);
    background-color: #42406c;
    color: white;
    transition: transform 0.2s;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Raleway', cursive;

    div {
      padding: 30px 0;
      position: relative;
      top: -50px;
    }
  }

  nav.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-height: 50px;
    background-color: #e3efff;
    color: #42406c;

    background: rgb(227, 239, 252); /* Fallback for older browsers without RGBA-support */
    background: rgba(227, 239, 252, 0.6);
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 26px;
    transition: background-color 0.2s;

    .fa-bars, .happy-eyes {
      transition: color 0.2s;
      width: 30px;
    }

    .logo {
      transition: fill 0.2s;
      fill: #42406c;
      position: relative;
    }

    &.stuck {
      background: rgba(227, 239, 252, 1);
    }

    @at-root body.mobile-menu-open nav.sticky {
      background-color: #42406c;
      transition: background-color 0.2s;
      .fa-bars {
        color: white;
      }

      .logo {
        fill: white;
      }
    }
  }

    /* ------ SECTIONS ------ */
    /* ------ SECTIONS ------ */
    /* ------ SECTIONS ------ */

  .intro {
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
    margin-top: 0;
    padding: 20px 0 60px 0;

    .head {
      font-size: 5rem;
      font-family: 'Raleway Dots', cursive;
      font-family: 'Montserrat', cursive;
      font-family: 'Poppins', cursive;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 5px 3px darkgrey;

      .shadow-caps {
        display: inline-block;
        margin-bottom: 12px;
        box-shadow: -3px 3px white;
      }
    }

    h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      font-size: 1.8rem;
      position: relative;
      left: 2px;
      text-shadow: 1px 1px white;
      // transition: font-size 0.2s;
    }

    .grow-your-business {
      margin-top: 25px;
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem;
      margin-bottom: 40px;
      text-shadow: 1px 1px white;
      // transition: font-size 0.2s;
    }

    .mountain {
      max-width: 250px;
    }
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 680px;

    background-image: url('../img/children_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;

    text-align: center;

    div.line {
      display: block;
      margin-bottom: 15px;

      span {
        display: inline-block;
        font-size: 2.6rem;
        background-color: white;
        font-style: italic;
        padding: 0 5px;
        font-family: 'Raleway', sans-serif;
        color: black;
        text-shadow: 1px 1px #ffc9fb;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .pacific-pace {
    padding: 60px 0 35px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);

    .shadow-caps {
      text-align: left;
      font-size: 4.5rem;
      display: inline-block;
    }

    .international-picture {
      width: 75%;
      margin: 30px auto 35px auto;
      image-rendering: -webkit-optimize-contrast;  // improves render for mac Chrome
    }

    p {
      text-shadow: 1px 1px white;
      text-align: center;
      width: 80%;
    }

    ul {
      text-shadow: 1px 1px white;
    }

    .pacific-pace-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .suggested-industries {
        display: inline-block;
        margin: 20px auto 0 auto;
      }
    }
  }

  .services-offered {
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/patterns/dot-grid.png');

    padding: 20px 0;

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin: 40px 0 20px 0;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.6;
      margin-bottom: 16px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    hr.little-hr {
      display: none;
    }

    hr.littler-hr {
      width: 15%;
      height: 2px;
      margin-top: 22px;
      margin-bottom: 19px;
      border-width: 2px;
      border-color: #7bb3ff;
    }
  }

  .say-hello {
    padding: 20px 0 80px 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background: linear-gradient(17deg, #e3efff, #abcfff00, #e3efff);
    text-shadow: 1px 1px white;
    text-align: center;

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin: 20px 0 30px 0;
    }

    .buttons-row {

      p {
        width: 80%;
        text-align: center;
        font-size: 1.8rem;
        margin: 0 auto 24px auto;
      }

      button {
        background-color: #42406c;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        border-radius: 10px;
        font-size: 16px;;
        width: 90%;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../img/wet_fall_asphalt.jpg") center/530px;
    height: 330px;
    image-rendering: -webkit-optimize-contrast;

    img {
      width: 28%;
      filter: drop-shadow(2px 2px 2px black);
    };
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    .intro {
      padding-top: 60px;
    }

    .quote {
      height: 1180px;
    }

    .services-offered {
      padding-bottom: 44px;

      .service {
        padding: 0 25px;

        &:last-of-type {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
        }

        p {
          font-size: 1.2rem;
          text-align: center;

          &:last-of-type {
            margin-top: 50px;
          }
        }

        h2 {
          font-size: 2rem;
        }
      }
    }

    .pacific-pace .pacific-pace-right {
      align-items: flex-start;
    }
  }

  @at-root html {
    font-size: 85%;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   body {

//     section.banner {
//       padding: 100px 0;

//       .grow-your-business {
//         margin-top: 35px;
//       }

//       .mountain {
//         max-width: 75%;
//         text-align: center;
//         // margin-top: 35px;
//       }
//     }

//     section.services-offered {
//       .service {
//         p {
//           height: 160px;
//         }
//       }
//     }

//     section.quote {
//       padding: 150px 0;
//     }
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   @at-root html {
//     font-size: 100%;
//   }

//     body {
//     section.banner {
//       h1 {
//         font-size: 1.3rem;
//         margin-top: 5px !important;
//       }

//       ul {
//         font-size: 1.3rem;
//       }
//     }

//     section.quote {

//       div.line {
//         span {
//           font-size: 4rem;
//           padding-right: 30px;
//         }
//       }
//     }
//   }
// }

// @media (min-width: 1201px) {
// }
