@import './secondaries.scss';

section.quote {
  padding: 24px;
  > .content {
      img {
          position: relative;
          &:first-of-type {
              margin-bottom: 16px;
              left: -12px;
          }

          &:last-of-type {
              margin-top: 16px;
              left: 12px;
          }
      }
  }
}

section.how-it-is {
  padding-bottom: 0;
    > .content {
    .started {
      display: flex;
      flex-direction: column;

      .wrap {
        order: 2;

        h2 {
          font-size: 32px;
          margin: 24px 0;
        }
      }

      img {
        order: 1;
      }
    }

    .going {
      display: flex;
      flex-direction: column;
      margin-top: 32px;

      img {
        align-self: flex-start;
        width: 100%;
      }
      .wrap {
        h2 {
          margin: 24px 0;
          font-size: 32px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

section.here-for-you {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(to top, #F4D2D1, rgba(171, 207, 255, 0.3) 55%, rgba(255, 255, 255, 0.0001));

  > .content {
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgb(0, 0, 0, .15);
    background-color: white;

    > p {
      font-weight: 600;
    }

    .wrap {
      display: flex;
      margin-bottom: 16px;
      flex-direction: column;

      p {
        &:first-of-type {
          padding-right: 8px;
        }

        &:last-of-type {
          padding-left: 8px;
        }
      }
    }

    .learn-more {
      text-align: center;
    }
  }
}

section.mission {
  background-color: $purple;
  color: white;
  padding-top: 72px;
  padding-bottom: 72px;

  > .content {

    .accent-box {
      margin-bottom: 24px;
    }

    .header-text {
      font-family: Poppins, sans-serif;
      font-size: 42px;
      line-height: 60px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 24px;
    }

    > p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

section.core {
  padding-top: 72px;
  padding-bottom: 72px;
  background: linear-gradient(to bottom, #E3EFFF, rgba(255, 255, 255, 0.0001) 15%);

  > .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-top: 0;
      margin-bottom: 8px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }

    .allan-and-grace {
      font-family: Raleway, sans-serif;
      font-weight: 600;
      font-size: 17.28px;
      line-height: 26px;
      margin: 0;
    }

    img {
      margin: 24px 0;
    }
  }
}

@media (min-width: 768px) {
  section.quote {
    padding-top: 33px;
    padding-bottom: 33px;
    > .content {
        img {
            margin: 0 !important;
        }
    }
  }

  section.how-it-is {
    padding-bottom: 48px;
    > .content {
      h2 {
        margin-top: 0;
      }

      .started {
        margin-top: 48px;
        flex-direction: row;

        .wrap {
          order: 1;
          padding-right: 12px;
        }

        img {
          order: 2;
          padding-left: 12px;
        }
      }
      .going {
        flex-direction: row;
        margin-top: 96px;

        .wrap {
          padding-left: 12px;
        }

        img {
          padding-right: 12px;
          width: auto;
        }
      }
    }
  }

  section.here-for-you {
    > .content {
      padding: 32px 96px;

      h2 {
        text-align: center;
      }

      .wrap {
        flex-direction: row;
      }
    }
  }

  section.quote {
    padding-top: 33px;
    padding-bottom: 33px;
    > .content {

    }
  }
}


@media (min-width: 990px) {

}