@import './basics.scss';

div.back-drop {
    background-color: $purple;
}

section.form {
    padding: 72px 0;
    > .content {
        background-color: white;
        max-width: 776px;
        padding: 48px 80px;
        
        border-radius: 4px;

        > h1 {
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            font-weight: 400;
        }

        > p {
            text-align: center;
            margin-bottom: 32px;
        }

        .footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .page-number {
                font-family: Poppins, sans-serif;
                font-weight: 600;
                font-size: 16px;
                margin-right: 24px;
            }
        }
    }
}