@import './basics.scss';

section.form {
    padding: 0 24px;
    > .content {
        background-color: white;

        animation: slide-in .3s;

        > h1 {
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            font-weight: 400;
        }

        > p {
            text-align: center;
            margin-bottom: 32px;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > button {
                text-align: left;
                padding-left: 0;

                &.hide {
                    visibility: hidden;
                }
            }

            .page-number {
                font-family: Poppins, sans-serif;
                font-weight: 600;
                font-size: 16px;
                margin-right: 24px;
            }
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-20px);
        opacity: .7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    div.back-drop {
        background-color: $purple;
    }

    section.form {
        padding: 72px 0;
        > .content {
            border-radius: 4px;
            padding: 48px 80px;
            max-width: 776px;
        }
    }
}
  
@media (min-width: 990px) {

}