@import './basics.scss';

h2 {
  font-weight: 400;
  font-size: 32px;
}

section.top {
  background: linear-gradient(to bottom, #E3EFFF, rgba(255, 255, 255, 0.0001) 30%);

  .header-text {
    font-family: Poppins, sans-serif;
    color: $purple;
    font-size: 42px;
    line-height: 60px;
    font-weight: 500;
  }
}

section.quote {
  text-align: center;
  background-color: $purple;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;

  > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}


@media (min-width: 768px) {
  section.quote {
    > .content {
      flex-direction: row;
    }
  }
}


@media (min-width: 990px) {

}
