@import './secondaries.scss';

section.quote {
    padding: 24px;
    > .content {
        img {
            position: relative;
            &:first-of-type {
                margin-bottom: 16px;
                left: -12px;
            }

            &:last-of-type {
                margin-top: 16px;
                left: 12px;
            }
        }

    }
}

section.services {
    > .content {
        h2 {
            text-align: center;
            margin-bottom: 8px;
            margin-top: 0;
        }

        h3 {
            margin-top: 0;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            font-weight: 400;
        }

        .wrap {
            display: flex;
            flex-direction: column;
            margin-top: 48px;

            .service {
                display: flex;
                margin-bottom: 48px;

                .gutter {
                    flex: 1.3;

                    img {
                        position: relative;
                        top: -5px;
                    }
                }

                .content {
                    flex: 6;
                    margin-top: 0;
                    font-size: 18px;

                    img {
                        position: relative;
                        top: 4px;
                        margin-right: 8px;
                    }

                    a span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

section.get-started {
    padding: 0 24px 48px;
    background-image: linear-gradient(to top, #F4D2D1, rgba(171, 207, 255, 0.3) 55%, rgba(255, 255, 255, 0.0001));

    > .content {
        padding: 32px 24px;
        border-radius: 12px;
        box-shadow: 0 0 16px rgb(0, 0, 0, .15);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            width: 100%;
        }

        button {
            width: 100%;

            &.invert {
                background-color: white;
                color: $purple;
                border: 2px solid $purple;
            }

            &:first-of-type {
                margin-bottom: 24px;
            }
        }


        h2 {
            margin-top: 0;
            margin-bottom: 24px;
        }
    }
}


@media (min-width: 768px) {
    section.quote {
        padding-top: 33px;
        padding-bottom: 33px;
        > .content {
            img {
                margin: 0 !important;
            }
        }
    }

    section.services {
        padding-top: 72px;
        padding-bottom: 72px;
        > .content {
            .wrap {
                flex-direction: row;
                flex-wrap: wrap;
                .service {
                    width: 50%;

                    &:nth-of-type(2n - 1) {
                        padding-right: 24px;
                    }

                    &:nth-of-type(2n) {
                        padding-left: 24px;
                    }
                }
            }
        }
    }

    section.get-started {
        > .content {
            a {
                width: auto;
            }

            button {
                width: 456px;
                max-width: 100%;
            }
        }
    }
}

@media (min-width: 990px) {

}