<!DOCTYPE html>
<html lang="en" class="assessment-page">
<head>
    <sergey-import src="head_basics" />

    <title>TPP Digital</title>
    <link rel="stylesheet" href="css/assessment.css">


    <script defer src="js/utility.js"></script>
    <script defer src="js/assessment.js"></script>
</head>
<body class="preload">
    <div class="content">
        <sergey-import src="bookend" />
        <sergey-import src="nav_simple" />

        <div class="back-drop">

            <section id="form" class="form">
                <div class="content">
                    <div class="accent-box centered">
                        <div class="content">
                            RAPID ASSESSMENT
                        </div>
                    </div>
                    <h1 v-text="headerText"></h1>
                    <p v-text="subHeaderText" :class="{ 'mb-0': page === lastPage }"></p>

                    <div class="form1" v-if="page === 1">
                        <div class="form-group">
                            <label for="">What type of business are you in?</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Have you attempted any marketing of your own? How did it go?</label>
                            <textarea rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Can you tell us something about your typical customer?</label>
                            <textarea rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form2" v-if="page === 2">
                        <div class="form-group">
                            <label for="">What is the geographic area of your business?</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Are you looking to expand?</label>
                            <input id="isExpandingYes" type="radio" name="isExpanding">
                            <label for="isExpandingYes" class="pill">Yes</label>
                            <input id="isExpandingNo" type="radio" name="isExpanding">
                            <label for="isExpandingNo" class="pill">No</label>
                        </div>
                        <div class="form-group">
                            <label for="">Is there any existing ad campaign or website that you find inspirational? Something to emulate?</label>
                            <textarea rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Do you have any existing social media presence?</label>
                            <textarea rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form3" v-if="page === 3">
                        <div class="form-group">
                            <label for="">Is there any specific technical or marketing service that you’re
                                looking for? It’s ok not to be sure.</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">How do you think your company is perceived, currently? (this is a tough question)</label>
                            <textarea rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">How would you LIKE your company to be perceived? (this too, is challenging)</label>
                            <textarea rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form4" v-if="page === 4">
                        <div class="form-group">
                            <label for="">How would you like us to contact you?</label>
                            <input id="call-me" type="radio" name="contact">
                            <label for="call-me" class="pill">Call</label>
                            <input id="text-me" type="radio" name="contact">
                            <label for="text-me" class="pill">Text</label>
                            <input id="email-me" type="radio" name="contact">
                            <label for="email-me" class="pill">Email</label>
                        </div>
                        <div class="form-group">
                            <label for="">Contact me at (you can include more than one)</label>
                            <textarea rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Anything else you'd like us to know?</label>
                            <textarea rows="4"></textarea>
                        </div>
                    </div>
                    <div class="footer" v-if="page !== lastPage">
                        <button class="bare-button"
                            :class="{ hide: page === 1 }"
                            @click="back"
                            >back</button>
                        <div class="right">
                            <span class="page-number">{{ page }} / {{ lastPage - 1 }}</span>
                            <button @click="next">
                                {{ page === 4 ? 'Submit' : 'Next' }}
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <sergey-import src="footer" />
</body>
</html>