@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@400;600&display=swap');

// font-family: 'Raleway', sans-serif;
// font-family: 'Courier Prime', monospace;
// font-family: 'Poppins', sans-serif;
// font-family: 'Courier Prime', monospace;

/* ------ GLOBAL ------ */
/* ------ GLOBAL ------ */
/* ------ GLOBAL ------ */

$pink: #F4D2D1;
$blue: #B4C6DE;
$purple: #42406C;
$black-text: #2D2D2D;
$transition-length: 0.3s;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  &.freeze {
    overflow: hidden;
    position: fixed;
  }
}

html body > .content {
  flex: 1 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

.preload * {
  transition: none !important;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $black-text;
}

h1, h2, h3 {
  font-family: Poppins, sans-serif;
  margin: 16px 0;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

p {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 16px 0;
}

a  {
  color: $purple;
  font-weight: 600;
  font-family: Raleway, sans-serif;
}

img {
  max-width: 100%;
}

button {
  background-color: $purple;
  border-radius: 49px;
  color: white;
  border: none;
  padding: 16px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  min-width: 144px;

  &.bare-button {
    background-color: white;
    border: none;
    color: $purple;
  }
}

/* ------ BY COMPONENT ------ */
/* ------ BY COMPONENT ------ */
/* ------ BY COMPONENT ------ */

.logo {
  font-family: 'Poppins', sans-serif;
  display: flex;
  font-size: 24px;
  color: $purple;
  position: relative;

  img {
    top: 5px;
    position: relative;
  }

  .nav-text {
    margin-left: 12px;
    font-weight: 500;
  }
}

a.logo {
  text-decoration: none;
}

.form-group {
  margin-bottom: 24px;

  label {
      display: block;
      font-weight: 600;
      margin-bottom: 4px;
  }

  input, textarea {
      width: 100%;
      border: 1px solid #2d2d2d;
      font-size: 28px;
      border-radius: 4px;
      padding: 8px;
      font-family: Arial;
  }

  input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
  }

  .pill {
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 91px;
    border: 1px solid #8A8A8A;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
  }

  input[type=radio]:checked + .pill {
    background-color: rgba(180, 198, 222, .4);
    border: 2px solid $purple;
  }
}

/* ------ BY SECTION ------ */
/* ------ BY SECTION ------ */
/* ------ BY SECTION ------ */

.book-end {
  display: flex;
  height: 8px;
  z-index: 1;

  div {
    &:nth-child(1) {
      background-color: $pink;
      flex: 1;
    }

    &:nth-child(2) {
      background-color: $blue;
      flex: 1;
    }

    &:nth-child(3) {
      background-color: $purple;
      flex: 1;
    }
  }
}

nav.main-nav {
  z-index: 1;
  background-color: white;

  > .content {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    padding: 24px;
    max-width: 936px;

    .left-wrap {
      display: flex;
      align-items: center;

      .divider {
        display: none;
        border-right: 1px solid $blue;
        height: 30px;
        margin: 0 16px;
      }

      img.time-of-day {
        display: none;
        margin-right: 10px;
      }

      .widget {
        display: none;
        font-family: 'Courier Prime', monospace;
        font-weight: bold;
        font-size: 12px;
        color: $purple;
      }

      .nav-text {
        transition: color .3s;
      }

      .logo svg {
        position: relative;
        top: 9px;
      }
    }

    .desktop-menu {
      display: none;

      a {
        font-size: 18px;
        font-weight: 600;
        color: $purple;
        margin-right: 24px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @at-root html.about-page .desktop-menu .about {
        text-decoration: underline !important;
      }
      @at-root html.services-page .desktop-menu .services {
        text-decoration: underline !important;
      }
      @at-root html.contact-page .desktop-menu .contact {
        text-decoration: underline !important;
      }
    }

    .mobile-menu {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 18px;
      display: flex;
      align-items: center;
      color: $purple;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;

      // .nav-text {
      //   margin-right: 8px;
      //   position: relative;
      //   top: -1px;
      //   transition: color .3s;
      // }

      .logo svg path {
        transition: fill .3s;
      }

      svg.hamburger {
        width: 24px;
        height: 24px;

        transition: stroke .3s;
      }
    }
  }

  &.simple-nav {
    > .content {
      justify-content: center;
    }
  }

  &.invert {
    background-color: $purple;

    > .content {
      .nav-text {
        color: white;
      }

      .logo svg path {
        fill: white;
      }
      .mobile-menu svg.hamburger path {
        stroke: white;
      }
    }
  }
}

nav.main-nav .slide-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $purple;

  transform: translate(100%, 0);
  transition: transform .3s;
  padding-top: 72px;
  z-index: 1;

  .menu-item {
    text-align: center;
    margin-bottom: 48px;

    a {
      color: white;
      font-size: 38px;
      text-decoration: none;
      font-weight: 500;
    }
  }

  &.is-open {
    transform: translate(0, 0);
  }
}

section {
  padding: 48px 24px;

  > .content {
    max-width: 936px;
    margin: 0 auto;
  }
}

.accent-box {
  display: flex;

  .content {
    background-color: $pink;
    color: $purple;
    padding: 8px 16px;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }

  h1, h2 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  &.centered {
    justify-content: center;
  }
}

.footer-wrap {
  flex-shrink: 0;
}

section.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  padding: 48px 24px;

  .logo {
    margin-bottom: 24px;

    img {
      top: 9px;
    }

    span {
      font-size: 36px;
      margin-left: 18px;
    }
  }

  .contact {
    text-align: center;
    margin-bottom: 48px;

    line-height: 28px;
    font-size: 18px;
  }

  .social {
    .group {
      display: flex;
      align-items: center;
      margin: 8px 0;

      img {
        margin-right: 8px;
      }

      span {
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  nav.main-nav {

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -0.1px;
    transition: background-color $transition-length;

    &.stuck {
      background-color: #f5f5f5;
      box-shadow: 0 1px 0px 0px #eaeaea;
    }

    > .content {
      transition: padding .15s;

      .left-wrap {
        .widget, .divider, img.time-of-day {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 990px) {
  nav.main-nav > .content {
    padding: 12px 0;

    .mobile-menu {
      display: none;
    }

    .desktop-menu {
      display: block;
    }
  }

  section.footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 24px 48px;

    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .contact {
      order: 1;
      text-align: left;
    }
    .social {
      order: 3;
      text-align: right;
    }

    > div {
      margin: 0 !important;
    }
  }
}


/* ------ UTILITY ------ */
/* ------ UTILITY ------ */
/* ------ UTILITY ------ */

/* ------- bootstrap-esque padding & margins ------- */
.mt-0 { margin-top: 0 !important}
.mr-0 { margin-right: 0 !important}
.mb-0 { margin-bottom: 0 !important}
.ml-0 { margin-left: 0 !important}

@for $i from 1 through 100 {
	.mt-#{$i} { margin-top: #{$i}px !important; }
	.mr-#{$i} { margin-right: #{$i}px !important; }
	.mb-#{$i} { margin-bottom: #{$i}px !important; }
	.ml-#{$i} { margin-left: #{$i}px !important; }
}

.pt-0 { padding-top: 0 !important}
.pr-0 { padding-right: 0 !important}
.pb-0 { padding-bottom: 0 !important}
.pl-0 { padding-left: 0 !important}

@for $i from 1 through 100 {
	.pt-#{$i} { padding-top: #{$i}px !important; }
	.pr-#{$i} { padding-right: #{$i}px !important; }
	.pb-#{$i} { padding-bottom: #{$i}px !important; }
	.pl-#{$i} { padding-left: #{$i}px !important; }
  .pa-#{$i} { padding: #{$i}px !important; }
}

.text-center {
  text-align: center;
}