@import './secondaries.scss';

section.quote {
  padding-top: 24px;
  padding-bottom: 24px;
  > .content {
    justify-content: center;

    span {
      margin-bottom: 16px;
    }

    button {
      border: 2px solid white;
    }
  }
}

section.form {
  > .content {
    max-width: 616px;

    .group {
      margin-bottom: 24px;

      label {
        display: block;
        font-weight: 600;
        margin-bottom: 4px;
      }

      input, textarea {
        width: 100%;
        border: 1px solid #2d2d2d;
        font-size: 28px;
        border-radius: 4px;
        padding: 8px;
      }
    }
  }
}

section.map {
  background: url('../assets/contact/map.jpg');
  height: 280px;
}

@media (min-width: 768px) {
  section.quote {
    padding-top: 23px;
    padding-bottom: 23px;
    > .content {
      flex-direction: row;

      span {
        margin-bottom: 0;
      }

      button {
        margin-left: 24px;
      }
    }
  }
}


@media (min-width: 990px) {

}